{% extends 'base.html.twig' %}

{% block title %}Mon pokemon{% endblock %}

{% block body %}
<h1>Mon pokemon</h1>
<img alt="Photo de face" id="photoRecto">
<img alt="Photo de dos" id="photoVerso">
<div id="infos"></div>
<h2>Compétences : </h2>
<div id="abilities"></div>
<h2>30 Pokemons</h2>
<div id="liste30premiers"></div>
{% endblock %}
